button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4F9CF9; /* updated the background color */
  color: white;  /* text color changed to white for better visibility on the new button background color */
  cursor: pointer;
  font-size: 18px; /* making the font size a bit bigger for better visibility */
}

/* Adding the main and subtext styles */
h1 {
  font-size: 75px;
  font-weight: bold;
  font-family: 'Inter', sans-serif; 
}

p {
  font-size: 18px;
  font-weight: regular;
  font-family: 'Inter', sans-serif; 
}
